
.widget-area .widget.advanced-sidebar-menu {
	padding: 0;
	background: rgba( $adf_blue, 0.085 );
	border-top: 2px solid $adf_brown;
	border-bottom: 2px solid $adf_brown;

	.widget-title {
		padding: 1rem 1rem 0.25rem 1rem;
		margin: 0;
		font-size: 78%;
		color: rgba( $adf_dark_grey, 0.7 );
		text-align: center;
	}

	.home & {
		display: none;
	}

	a {
		display: block;
		padding: 0.75rem 1rem;
		line-height: 1.1;
		border-bottom: 1px solid rgba(0,0,0,0.13);
		border-top: 1px solid rgba(255,255,255,0.9);
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		transition: all 200ms ease-in-out;

		&:hover,
		&:target,
		&:focus {
			background: rgba( $adf_blue, 0.2 );
			text-decoration: none;
			//border: 1px solid $adf_brown;
		}
	}

	.current-menu-item {

		> a {
			background: $adf_brown;
			color: #fff;
		}

		> ul {
			background: rgba( $adf_blue, 0.08 );
			border-bottom: 1px solid $adf_brown;
		}


	}

	.current_page_parent {

		> a {
			background: rgba( $adf_brown, 0.18 );
		}
	}

	ul.parent-sidebar-menu {
		font-size: 1.4em;
	}
	ul.child-sidebar-menu {
		font-size: 80%;
		border-left: 1px solid $adf_blue;
		padding-left: 2px;

		.has_children {
			border-left: 4px solid $adf_green;
			border-bottom: 1px solid $adf_blue;
			border-top: 2px solid transparent;

			&.current-menu-item {
				border-left: 7px solid $adf_brown;
			}
		}

		ul.grandchild-sidebar-menu {
			margin-left: 3px;
		}

		.current-menu-parent {
			border-left: 7px solid $adf_brown;

			> ul {
				background: rgba( $adf_blue, 0.1 );
				border-bottom: 1px solid $adf_brown;
			}
		}
	}
}