.icon-ADF_Cosmos_Sigil-dims {
	width: 200px;
	height: 200px;
}

.icon-Icon_Tiktok-dims {
	width: 18px;
	height: 18px;
}

.icon-discord-dims {
	width: 448px;
	height: 512px;
}

.icon-earth-dims {
	width: 32px;
	height: 32px;
}

.icon-email-dims {
	width: 100px;
	height: 100px;
}

.icon-facebook-dims {
	width: 14.8px;
	height: 31.8px;
}

.icon-flickr-dims {
	width: 24px;
	height: 24px;
}

.icon-instagram-dims {
	width: 12.9px;
	height: 12.9px;
}

.icon-link-dims {
	width: 512px;
	height: 512px;
}

.icon-pinterest-dims {
	width: 24px;
	height: 24px;
}

.icon-social-twitter-dims {
	width: 32px;
	height: 32px;
}

.icon-social-youtube-dims {
	width: 32px;
	height: 32px;
}

